iclr*/
__pycache__/
config/__pycache__
environment/__pycache__
modules/__pycache__
logs/
slurm.sh
imgs/
newimgs/
models/
run2/
old*
test-results/
*models*

multiagent-particle-envs/__pycache__/
multiagent-particle-envs/*.egg-info/
multiagent-particle-envs/*.pyc
ngc.sh
